#registrationForm {
    background-color: white;
    padding: 2rem;
}

#registrationForm {
    background-color: white;
    padding: 2rem;
    display: flex;
}

#modal-container {
   position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: none;
    justify-content: center;
    align-items: center;
}


input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

input [type="checkbox"]{
    position: relative;
    left: 112px;
    top:-24px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
}

.close{
    position: relative;
    left: 275px;
    top: -80px;
}